/* ---------------- START CONFIGURATION ----------- */

html,
body{
    height: 100%;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

/* -------------FOOTER------------- */
.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
    
}
/* #header,
.push {
    height: 4rem;
} */

#footer,
.push {
    height : 50px;
}

app-side-nav{
    position: absolute;
    top: 5.9rem;
    left: 0rem;
    width: 220px;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #0d74f5;
}
.nav-list{
    list-style: none;
    height: 100%;
    padding: 10%;
    margin-bottom: 0%;
}
.nav-list a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;

}
.nav-list-item{
    display: flex;
    align-items: center;
    height: 70px;
}
.nav-list-item i{
   color: #fff;
   font-size: 20px;
   height: 25px;
   width: 25px;
   margin-right: 15px;
   margin-left: 0;
   text-align: center;
   line-height: 25px;
}

body {
	/******************************************************************
  This contains the font, Internet Explorer fall back options and 
  the background color for all of the sites
  ******************************************************************/
	background: #C3E6F3 no-repeat center center fixed;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
	/* IE Fallback */
	background: #c3e6f4;
	width: 100%;
	height: 100%;
}


/******************************************************************
Below is the code for the red and blue button class which will be 
for all of the buttons in the program including the submit, next,
cancel, etc. 
******************************************************************/

.blueButton {
	-moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
	box-shadow: inset 0px -3px 7px 0px #29bbff;
	background-color: #0088BB;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #0088BB;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	font-family: Arial;
	font-size: 15px;
	padding: 9px 23px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
}

.blueButton:hover {
	background-color: #369cb8;
}

.blueButton:active {
	position: relative;
	top: 1px;
}

.redButton {
	-moz-box-shadow: inset 0px -3px 7px 0px #8a2a21;
	-webkit-box-shadow: inset 0px -3px 7px 0px #8a2a21;
	box-shadow: inset 0px -3px 7px 0px #8a2a21;
	background-color: #c62d1f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #d02718;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	padding: 9px 23px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #810e05;
}

.redButton:hover {
	background-color: #f24437;
}

.redButton:active {
	position: relative;
	top: 1px;
}


/******************************************************************
Below is the code for add employee page; the form to search the orders
******************************************************************/

.addEmployee input[type=text] {
	width: 95%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
	text-align: left;
}

.addEmployee input[type=text]:focus {
	border: 1px solid #a8a8a8;
}

.addEmployee input[type=submit],
.addEmployee input[type=button] {
	float: right;
	margin: -20px 20px 10px 0px;
}

.addEmployee {
	border-radius: 5px;
	background-color: #f8f8f8;
	padding: 40px;
	width: 40%;
	margin: 0 auto;
	margin-top: 20px;
	box-shadow: 1px 1px 5px #888888;
    margin-left: 530px;
}

.addEmployeeHeader {
	text-align: center;
}

select {
	width: 95%;
	padding: 12px 20px;
	margin: auto 0;
	display: block;
	border-radius: 4px;
	text-align: left;
	font-size: 16px;
}