{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Static CSS -->
    <link href={% static "css/employee.css" %} rel="stylesheet">
    <title>Employee</title>
</head>
<body>
    <header>
        <p>&#127881;  <a href="#">SRAVANI Employee Management</a> &#127881;</p>
    </header>

    <nav>
        <div class="nav-main">
            <ul>
                <li><a href="#">Business</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Features</a></li>
            </ul>
            <ul>
                <li><a href="/app1/home">Get Started</a></li>
            </ul>
            <div class="nav-mobile-menu" id="nav-mobile-menu">
                <img src="https://rvs-landing-page.vercel.app/assets/Hamburger-Menu.svg" alt="">
            </div>
        </div>
    </nav>

    <nav class="mobile-menu">
        <ul>
            <li><a href="#">Business</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Get Started</a></li>
        </ul>
    </nav>

    <main>
        <section class="section-1">
            <div class="section-1-main">
                <div class="section-1-content">
                    <h1 class="section-1-title">The Easiest Way to Collaborate with People Inside or Outside of Your Company</h1>
                    <p class="section-1-desc">Secure online workspaces that are user-friendly and quick to implement.</p>
                    <ul class="section-1-lists">
                        <li><img src="https://rvs-landing-page.vercel.app/assets/Checkmark.svg" alt=""> <span>Receive 99% of the accuracy and security.</span></li>
                        <li><img src="https://rvs-landing-page.vercel.app/assets/Checkmark.svg" alt=""> <span>Get paid via Debit Card, ACH, or PayPal.</span></li>
                    </ul>
                    <div class="section-1-form">
                        <input type="text" class="section-1-form-input" placeholder="sethiyash1996@gmail.com">
                        <button class="section-1-button">Get Started</button>
                    </div>
                </div>
                <div class="section-1-img">
                </div>
            </div>
        </section>

        <section class="section-2">
            <div class="section-2-main">
                <div class="section-2-images">
                    <img src="https://rvs-landing-page.vercel.app/assets/logo/Facebook-Logo.png" alt="">
                    <img src="https://rvs-landing-page.vercel.app/assets/logo/Dribbble-Logo.png" alt="">
                    <img src="https://rvs-landing-page.vercel.app/assets/logo/Youtube-Logo.png" alt="">
                    <img src="https://rvs-landing-page.vercel.app/assets/logo/Pinterest-Logo.png" alt="">
                    <img src="https://rvs-landing-page.vercel.app/assets/logo/Twitter-Logo.png" alt="">
                    <img src="https://rvs-landing-page.vercel.app/assets/logo/Reddit-Logo.png" alt="">
                    <img src="https://rvs-landing-page.vercel.app/assets/logo/Google-Logo.png" alt="">
                    <img src="https://rvs-landing-page.vercel.app/assets/logo/Slack-Logo.png" alt="">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-1">
                    <a href="index.html" class="footer-1-logo">SRAVANI</a>
                    <p class="footer-l-content">SRAVANI is an open platform for individuals to manage Employee Data.</p>
                </div>
                <div class="footer-2">
                    <div class="footer-f1">
                        <div class="footer-2-1">
                            <h5 class="footer-2-1-title">Sitemap</h5>
                            <ul class="footer-2-1-links">
                                <li><a href="#">Homepage</a></li>
                            </ul>
                        </div>
                        <div class="footer-2-2">
                            <h5 class="footer-2-2-title">Resources</h5>
                            <ul class="footer-2-2-links">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-f2">
                        <div class="footer-2-3">
                            <h5 class="footer-2-3-title">Company</h5>
                            <ul class="footer-2-3-links">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                        <div class="footer-2-4">
                            <h5 class="footer-2-4-title">Opportunities</h5>
                            <ul class="footer-2-4-links">
                                <li><a href="#">Jobs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-text">
                <p>Created by - <a href="https://vetri-suriya.web.app/"><span>YASH SETHI</span></a></p>
            </div>
        </div>
    </footer>
</body>
</html>