<app-side-nav>
    <div class="side-nav-content border-white">
        <ul class="nav-list">
          <li class="nav-list-item"><a href="/app1/home/"><i class="fa-regular fa-house"></i>Home</a></li> 
          <li class="nav-list-item"><a href="/app1/home/"><i class="fa-light fa-building-columns"></i>Employee Management</a></li>  
          <li class="nav-list-item"><a href="/app1/add-emp"><i class="fa-solid fa-children"></i>Add New Employee</a></li> 
          <li class="nav-list-item"><a href="/app1/contact-us"><i class="fa-regular fa-house"></i>Contact Us</a></li>
          <div class="active"></div>
        </ul>
    </div>
</app-side-nav>